.pageContainer {
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xxl);
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--spacing-xxl);
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr;
    }
}