.list {
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: var(--spacing-lg);
    padding-left: var(--spacing-sm);
    border-left: 4px solid var(--color-secondary);
    line-height: 1;
}